<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fund Transfer</title>
  </head>
  <body>
    <h1>Fund Transfer</h1>

    <form method="POST" action="/transfer">
      <table>
        <tr>
          <td>From account:</td>
          <td>
            <select name="payer">
              <option th:each="account : ${accounts}" th:value="${account.name}" th:text="${account.accountId}" />
            </select>
          </td>
        </tr>
        <tr>
          <td>To account:</td>
          <td>
            <select name="payee">
              <option th:each="account : ${accounts}" th:value="${account.name}" th:text="${account.accountId}" />
            </select>
          </td>
        </tr>
        <tr>
          <td>Amount:</td>
          <td><input type="number" name="quantity" /></td>
        </tr>
        <tr>
          <td>Comments:</td>
          <td><input type="text" name="comments" /></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Transfer</button></td>
        </tr>
      </table>
    </form> 
  </body>
</html>